@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');
@import url("https://use.typekit.net/jsz3onl.css");

$heading-font:'Bebas Neue', cursive;
$body-font: 'Poppins', sans-serif;

$heading-ltr-spacing: -0.03em;
$heading-line-height: 0.9;